/CompaniesTest-Colorer.generated.esv
/CompaniesTest-Completions.generated.esv
/CompaniesTest-Folding.generated.esv
/CompaniesTest-Refactorings.generated.esv
/CompaniesTest-References.generated.esv
/CompaniesTest-Syntax.generated.esv
