<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SourceMM1 -->
      <package
            uri="http://uk.ac.york.cs.asbh.lang.cs2as/sourceMM/1.0"
            class="uk.ac.york.cs.asbh.lang.cs2as.source.SourcePackage"
            genModel="model/SourceMM1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TargetMM1 -->
      <package
            uri="http://uk.ac.york.cs.asbh.lang.cs2as/targetMM/1.0"
            class="uk.ac.york.cs.asbh.lang.cs2as.target.TargetPackage"
            genModel="model/TargetMM1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Lookup -->
      <package
            uri="http://uk.ac.york.cs.asbh.lang.cs2as/lookup/1.0"
            class="uk.ac.york.cs.asbh.lang.cs2as.target.lookup.LookupEnvironmentPackage"
            genModel="model/Lookup.genmodel"/>
   </extension>

</plugin>
