<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/delphi/Delphi"
			class = "org.xtext.example.delphi.delphi.DelphiPackage"
			genModel = "model/generated/Delphi.genmodel" />
	</extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated astm -->
      <package
            uri="http://modelum.es/modernization/astm"
            class="org.xtext.example.delphi.astm.AstmPackage"
            genModel="model/astm.genmodel"/>
   </extension>

</plugin>
