<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Company -->
      <package
            uri="http://www.spoofax.com/company"
            class="org.spoofax.example.company.CompanyPackage"
            genModel="model/Company.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.spoofax.example.company.util.CompanyResourceFactory"
            type="101">
      </parser>
   </extension>
</plugin>
