/.MiniOCLDescriptionLabelProvider.java._trace
/.MiniOCLDescriptionLabelProvider.xtendbin
/.MiniOCLLabelProvider.java._trace
/.MiniOCLLabelProvider.xtendbin
/MiniOCLDescriptionLabelProvider.java
/MiniOCLLabelProvider.java
