<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Companies -->
      <package
            uri="http://www.xtext.org/example/mydsl/Companies"
            class="org.xtext.example.mydsl.companies.CompaniesPackage"
            genModel="model/generated/Companies.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Company -->
      <package
            uri="http://www.company.com"
            class="org.xtext.example.company.CompanyPackage"
            genModel="model/Company.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Lookup -->
      <package
            uri="http://xtext.eclipse.org/example/companies/lookup"
            class="org.xtext.example.company.lookup.LookupPackage"
            genModel="model/Lookup.genmodel"/>
   </extension>

</plugin>
