<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated classescs2as -->
      <package
            uri="http://tracesmodel/1.0/classescstraces"
            class="classescstraces.ClassescstracesPackage"
            genModel="src/oclDependencyAnalysis/qvt/tests/models/example2/classescs2as.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated classescs2as -->
      <package
            uri="http://ocldependencyanalysis/classescs/1.0"
            class="classescs.ClassescsPackage"
            genModel="src/oclDependencyAnalysis/qvt/tests/models/example2/classescs2as.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated classescs2as -->
      <package
            uri="http://ocldependencyanalysis/classes/1.0"
            class="classes.ClassesPackage"
            genModel="src/oclDependencyAnalysis/qvt/tests/models/example2/classescs2as.genmodel"/>
   </extension>

</plugin>
