<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/uk.ac.york.cs.cs2as.metrics/xtend-gen/uk/ac/york/cs/cs2as/metrics/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.ac.york.cs.cs2as.metrics.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D:\git\cs2as\org.xtext.example.macros\model\imacros.cs2as"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="uk.ac.york.cs.cs2as.metrics"/>
</launchConfiguration>
